vti_encoding:SR|utf8-nl
vti_timelastmodified:TR|14 May 2019 09:17:51 -0000
vti_extenderversion:SR|12.0.0.0
vti_backlinkinfo:VX|newHeader.html water.html contact.html news.html tech.html download.html welcome.html media.html features.html footer.html index.html
vti_author:SR|PC-Stefano\\Stefano
vti_modifiedby:SR|Stefano-PC\\Stefano
vti_timecreated:TR|12 Mar 2011 17:40:47 -0000
vti_nexttolasttimemodified:TW|14 May 2019 09:15:38 -0000
vti_syncofs_typhoon3d.com\:21:TW|08 Jun 2017 09:53:00 -0000
vti_syncwith_typhoon3d.com\:21:TX|08 Jun 2017 09:39:23 -0000
vti_cacheddtm:TX|14 May 2019 09:15:38 -0000
vti_filesize:IR|6047
vti_cachedlinkinfo:VX|S|../media/main_bg.gif S|../media/logo.png S|../media/icons/r_ul_li.gif S|../media/icons/download.gif S|../media/icons/email.gif S|../media/icons/facebook_icon.png
vti_cachedsvcrellinks:VX|FSUS|media/main_bg.gif FSUS|media/logo.png FSUS|media/icons/r_ul_li.gif FSUS|media/icons/download.gif NSUS|media/icons/email.gif NSUS|media/icons/facebook_icon.png
